services:
  server:
    image: server
    env_file: .env
    build:
      context: .
      dockerfile: server/Dockerfile
    ports:
      - 3001:3001

  bot1:
    image: bot1
    build:
      context: "${BOT_1_PATH}"
    depends_on:
      - server

  bot2:
    image: bot2
    build:
      context: "${BOT_2_PATH}"
    depends_on:
      - server